{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Colaberry Labs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand logo" href="/">Colaberry Labs</a>
        </div>
        <ul class="nav navbar-nav pull-right">
	  {% if user.is_authenticated %}
	  <li><a href="#">Profile</a></li>
	  <li><a href="{% url 'logout' %}">Logout</a></li>
	  {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
	  <li><a href="{% url 'register' %}">Register</a></li>
	  {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
      {% if messages %}
      {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %}
      {% endif %}
      <p>{{ message }}</p>
      {% block content %}
      {% endblock content %}
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% block extra_js %}
  {% endblock extra_js %}
</html>
